# Önce her şeyi ignore et
Assets/**

# Ama şu klasörler hariç
!Assets/GunduzTech/Scripts/
!Assets/GunduzTech/Art/
!Assets/GunduzTech/Resources/
!Assets/GunduzTech/Scenes/

# Unity cache ve gereksiz dosyalar
Library/
Temp/
Logs/
UserSettings/
Packages/
ProjectSettings/
MemoryCaptures/
Build/
Builds/

# IDE ve OS Dosyaları (Mac, Windows, Rider, VS Code)
.DS_Store
.idea/
.vscode/
*.sln
*.csproj
*.unityproj
*.pidb
*.suo
*.user
*.userprefs
*.log
*.vs
*.swp
