# Tüm GunduzTech içeriğini ignore et
Assets/GunduzTech/**

# Ancak aşağıdaki klasörler görünür olsun:
!Assets/GunduzTech/Assets/Scripts/
!Assets/GunduzTech/Assets/Scenes/
!Assets/GunduzTech/Assets/Resources/
!Assets/GunduzTech/Assets/Art/


# Unity cache ve gereksiz dosyalar
Library/
Temp/
Logs/
UserSettings/
Packages/
ProjectSettings/
MemoryCaptures/
Build/
Builds/

# IDE ve OS Dosyaları (Mac, Windows, Rider, VS Code)
.DS_Store
.idea/
.vscode/
*.sln
*.csproj
*.unityproj
*.pidb
*.suo
*.user
*.userprefs
*.log
*.vs
*.swp
